<h1>新增書本</h1>
<%= form_for(@book, { :url => dashboard_admin_books_path, :method => 'post'}) do |f| %>
  名稱<%= f.text_field :name %><br/>
  分類<%= f.select :tag_id, Tag.all.map{|t|[t.name, t.id]} %><br/>
  封面<%= f.file_field :cover %><br/>
  <%= f.submit %>
<% end %>
