<%= link_to '新增分類', new_dashboard_admin_tag_path %>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">分類列表</h3>
  </div><!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>名稱</th>
        <th>管理</th>
      </tr>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.id %></td>
          <td><%= tag.name %></td>
          <td>
            <%= link_to '編輯', edit_dashboard_admin_tag_path(tag) %>
            <%= link_to '刪除', dashboard_admin_tag_path(tag), method: :delete, data: { confirm: '你確定嗎？' } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div><!-- /.box-body --> 
</div><!-- /.box -->
