<div class="main-content">
<!--  begin portfolio section  -->
    <section class="bg-light-gray">
        <div class="container">

            <div class="headline text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2 class="section-title">瀏覽書櫃</h2>
                        <p class="section-sub-title">
                            快來挑選你有興趣的主題
                        </p> <!-- /.section-sub-title -->
                    </div>
                </div>
                <hr/>
                <ul class="nav nav-pills">
                  <li role="presentation" >
                    <%= link_to 'All', shelves_path %>
                  </li>
                  <% Tag.all.select{|t|t.depth==1}.each do |tag| %>
                    <li role="presentation" class="<%= 'active' if @tag_name == tag.name %>">
                        <%= link_to tag.name, 
                        shelves_path + '?tag=' + tag.name %></li>
                  <% end %>
                </ul>
                <hr/>
            </div> <!-- /.headline -->
            <%= will_paginate @paginate if @paginate %>
            <div class="portfolio-item-list">
                <div class="row">
                  <ul class="grid effect-2" id="grid">
                    <% @shelves.each do |shelf| %>
                        <% if !@tag_name || (shelf.main_tag == @tag_name) then %>
                          <li>
                            <div class="col-md-12 col-sm-12">
                                <div class="portfolio-item" id="grid">       
                                    <div class="item-image">       
                                        <a href="<%= shelf_path(shelf) %>">       
                                            <img src="<%= shelf.cover.url(:medium) %>" class="img-responsive center-block" alt="portfolio1">       
                                            <div><span><i class="fa fa-plus"></i></span></div>       
                                        </a>       
                                    </div>       

                                    <div class="item-description">       
                                        <div class="row">       
                                            <div class="col-xs-8 col-xs-offset-2">
                                                <span class="item-name">       
                                                    <%= shelf.name %>       
                                                </span>       
                                                <span>       
                                                    <%= shelf.main_tag %>
                                                </span>       
                                            </div>       
                                            <div class="col-xs-6 col-xs-offset-3">       
                                                <span class="like">       
                                                    <i class="fa fa-user"></i>       
                                                    <%= shelf.users.count %>
                                                </span>       
                                            </div>       
                                        </div>       
                                    </div> <!-- end of /.item-description -->       
                                </div> <!-- end of /.portfolio-item -->       
                            </div>
                          </li>
                        <% end %>    
                    <% end %>
                  </ul>
                </div>
            </div> <!-- end of portfolio-item-list -->
            
            <%= will_paginate @paginate if @paginate %>

        </div>
    </section> 
    <!--   end of portfolio section  -->
</div>