<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

            <section class="blog-content">
                <div class="container">
                    <div class="row">
                        <main class="col-md-9 col-md-push-3" style="display: block;">
                            <article class="blog-item">
                                <div class="blog-heading">
                                    <h1 class="text-capitalize">
                                      <%= @shelf.name %>
                                    </h1>
                                    <span class="date"><%= @shelf.created_at.strftime('%m/%d/%Y') %></span>
                                    <span>12 comments</span>
                                </div>
                                <p>
                                  <%= @shelf.description %>
                                </p>
                            </article>
                            <h3>書本</h3>
                            <div class="portfolio-item-list">
                              <div class="row">
                                <ul class="grid effect-2" id="grid">
                                <% @shelf.books.each do |book| %>
                                  <li>
                                  <div class="col-md-12 col-sm-12">       
                                      <div class="portfolio-item">       
                                          <div class="item-image">       
                                              <a href="<%= book_path(book.id) %>">
                                                  <img src="<%= book.pictures.first.image.url(:medium) %>" class="img-responsive center-block" alt="portfolio1">
                                                  <div><span><i class="fa fa-plus"></i></span></div>       
                                              </a>       
                                          </div>       

                                          <div class="item-description">       
                                              <div class="row">       
                                                  <div class="col-xs-8 col-xs-offset-2">       
                                                      <span class="item-name">       
                                                          <%= book.name %>
                                                      </span>       
                                                      <span>       
                                                          <%= book.tags.any? ? book.tags.select{|t|t.leaf?}.first.name : 'None' %>
                                                      </span>       
                                                  </div>       
                                                  <div class="col-xs-8 col-xs-offset-2">       
                                                      <span class="like">       
                                                          <i class="fa fa-bookmark"></i>
                                                          <%= book.shelves.count %>
                                                      </span>       
                                                  </div>       
                                              </div>       
                                          </div> <!-- end of /.item-description -->       
                                      </div> <!-- end of /.portfolio-item -->       
                                  </div>
                                  </li>
                                <% end %>
                              </ul>
                              </div>
                            </div> <!-- end of portfolio-item-list -->
                        </main>

                        <!-- begin sidebar -->
                        <aside class="col-md-3 col-md-pull-9">

                            <!-- begin tag-widget -->
                            <div class="tag-widget">
                                <h4>分類</h4>
                                <div class="tags">
                                    <% @shelf.list_tags.each do |tag_name| %>
                                        <a href="#"><%= tag_name %></a>
                                    <% end %>
                                </div>
                                <h4>成員</h4>
                                <%= render 'update_members' %>
                            </div> <!-- /.tag-widget -->

                        </aside>
                        <!-- end sidebar -->
                    </div>
                </div>

            </section>
            
