<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">編輯書本</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= form_for(@book, {:url => dashboard_book_path, :method => 'patch'}) do |f| %>
      <div class='form-group'>
        封面<%= f.file_field :image, :class => 'form-control' %>
        名稱<%= f.text_field :name, :class => 'form-control' %>
        <%= render 'tag' %>
        書櫃<br/>
        <% current_user.user_shelves.select{|s|s.is_owner?}.map{|us|us.shelf}.flatten.uniq.each do |shelf| %>
          <%= check_box_tag "shelves_id[]", shelf.id,
            shelf.books.map{|b|b.isbn}.include?(@book.isbn), :class => 'ck' %><%= shelf.name %><br/>
        <% end %>
        作者<%= f.text_field :author, :class => 'form-control' %>
        簡介<%= f.text_area :description, :class => 'form-control' %>
        ISBN<%= f.text_field :isbn, :class => 'form-control' %>
        出版商<%= f.text_field :publisher, :class => 'form-control' %>
        出版日期<%= f.date_field :publish_date, :class => 'form-control' %>
        語言<%= f.text_field :language, :class => 'form-control' %>
        頁數<%= f.number_field :page, :class => 'form-control' %>
      </div>
      <%= f.submit :class => 'btn btn-primary', :value => '送出', :onclick => 'return validateCheckbox();' %>
    <% end %>
  </div>
</div>

<script 'type/javascript' >
  function validateCheckbox()
  {
    var checkboxes = document.getElementsByClassName("ck");
    var checkboxesChecked = [];

    for (var i=0; i<checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        checkboxesChecked.push(checkboxes[i]);
      }
    }
    if (checkboxesChecked.length == 0) {
      alert('請至少選取一個書櫃');
      return false;
    }
  }
</script>