<%= link_to '新增書本', new_dashboard_book_path %>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">書本列表</h3>
  </div><!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>封面</th>
        <th>名稱</th>
        <th>分類</th>
        <th>作者</th>
        <th>簡介</th>
        <th>管理</th>
      </tr>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.id %></td>
          <td><%= image_tag book.cover.url(:thumb) %></td>
          <td width='100'><%= book.name %></td>
          <td width='100'>
            <% book.tags.each do |tag| %>
              <%= tag.name %><br/>
            <% end %>
          </td>
          <td width='100'><%= book.author %></td>
          <td width='400'><%= book.description %></td>
          <td>
            <%= link_to '編輯', edit_dashboard_book_path(book) %>
            <%= link_to '刪除', dashboard_book_path(book), method: :delete, data: { confirm: '你確定嗎？' } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div><!-- /.box-body --> 
</div><!-- /.box -->
