<link rel="stylesheet" href="/jquery-bar-rating/dist/themes/bars-movie.css">
<script src="/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<div class="br-wrapper br-theme-bars-movie">
  <select id="score">
      <option value="0">免讀</option>
      <option value="1">可讀</option>
      <option value="2">應讀</option>
      <option value="3">必讀</option>
  </select>
</div>
<br/><br/>
<div id="distribution">
  <%= hidden_field_tag 'rate_distribution', @rate_distribution %>
  <%= hidden_field_tag 'avg_score', @avg_score %>
  <ul>
    <span id="count"><%= @book.rates.count %></span>人評價過這本書<br/>
    <% @rate_distribution.each do |rate| %>
      <li>
        <span id="score_<%= rate.keys.first %>"><%= rate.keys.first %></span>, 
        <span id="ratio_<%= rate.keys.first %>"><%= (rate.values.first * 100).to_i.to_s + '%' %></span>
      </li>
    <% end %>
  </ul>
</div>
<input type="button" id="rate" value="評價這本書">
<script type="text/javascript">
jQuery(function($) {
    var avg_score = $('#avg_score').val();
    $('#score').barrating({
        theme: 'bars-movie',
        initialRating: avg_score,
        readonly: true
    });

    $("#rate").click(function() {
      $('#score').barrating('readonly', false);
      $('#score').barrating('set', '6');
      $(this).attr('value', '送出評價');
      $(this).unbind('click');
      $(this).click(function(){
        var score = $('.br-current').attr('data-rating-value');
        $.ajax({
          url: '/books/add_rate',
          type: 'POST',
          dataType: 'json',
          data: {book: '<%= @book.id %>', score: score},
          success: function(data){
            var count = parseInt($('#count').html());
            var avg_score_new = data[1];
            var scores = [];
            var ratios = [];

            $('#count').html(count+1);
            $('#score').barrating('set', avg_score_new);
            for (var i = 0, length = data[0].length; i < length; i++) {
              $.each(data[0][i], function(k,v){
                $('#ratio_' + k).html(String(v*100) + '%');
              });
            }
          }
        });
        $('#score').barrating('readonly', true);
        $(this).attr('value', '已評價');
        $(this).unbind('click');
        $(this).prop('disabled', true);
      });
    });
});
</script>