<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<section class="blog-content">
    <div class="container">
        <div class="row">
            <main class="col-md-9 col-md-push-3" style="display: block;">
                <article class="blog-item">
                    <div class="blog-heading">
                        <h1 class="text-capitalize">
                          <%= @book.name %>
                        </h1>
                        <span class="date"><%= @book.created_at.strftime('%m/%d/%Y') %></span>
                        <span>12 comments</span>
                    </div>
                    <p>
                      <%= sanitize @book.description %>
                      <%= sanitize @book.outline %><br/>
                      <%= sanitize @book.author_intro %><br/>
                      <%= sanitize @book.review %>
                    </p>
                </article>
                <h3>筆記</h3>

                <h3>書評</h3>

            </main>

            <!-- begin sidebar -->
            <aside class="col-md-3 col-md-pull-9">
                <div class="item-image">       
                  <img src="<%= @book.cover_url %>" 
                       class="img-responsive center-block" alt="portfolio1">   
                </div>
                <!-- begin tag-widget -->
                <div class="tag-widget">
                    <h4>分類</h4>
                    <div class="tags">
                        <% @book.tags.each do |tag| %>
                            <a href="<%= books_path + '?tag=' +tag.name %>"><%= tag.name %></a>
                        <% end %>
                    </div>
                    <h4>書櫃</h4>
                    <div class="tags">
                        <% @book.shelves.each do |shelf| %>
                            <%= link_to shelf.name, shelf_path(shelf) %>
                        <% end %>
                        <%= render 'add_book_to_shelf' %>
                    </div>
                    <h4>評價</h4>
                      <%= render 'add_book_rating' %>
                    <h4>作者</h4>
                    <%= @book.author %>
                    <h4>ISBN</h4>
                    <%= @book.isbn %>
                    <h4>出版商</h4>
                    <%= @book.publisher %>
                    <% if @book.publish_date  %>
                      <h4>出版日</h4>
                      <%= @book.publish_date.strftime('%m/%d/%Y') %>
                    <% end %>
                    <h4>語言</h4>
                    <%= @book.language %>
                    <h4>頁數</h4>
                    <%= @book.page %>
                    <h4>瀏覽歷史</h4>
                    <% ViewedBook.list_recent_five_viewed_books(request.session_options[:id]).each do |v| %>
                      <%= link_to v.name, book_path(v) %><br/>
                    <% end %>
                </div> <!-- /.tag-widget -->

            </aside>
            <!-- end sidebar -->
        </div>
    </div>

</section>
