<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<link rel="stylesheet" href="/jquery-bar-rating/dist/themes/bars-movie.css">
<script src="/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script type="text/javascript">
jQuery(function($) {
    $('#score').barrating({
        theme: 'bars-movie',
        initialRating: 2,
        readonly: true
    });

    $("#rate").click(function() {
      $('#score').barrating('readonly', false);
      $('#score').barrating('set', '6');
      $(this).attr('value', '送出評價');
      $(this).unbind('click');
      $(this).click(function(){
        var score = $('.br-current').attr('data-rating-value');
        $.ajax({
          url: '/books/add_rate',
          type: 'POST',
          dataType: 'json',
          data: {score: score},
          success: function(data){
            $('#score').barrating('set', data);
          }
        });
        $('#score').barrating('readonly', true);
        $(this).attr('value', '已評價');
        $(this).unbind('click');
        $(this).prop('disabled', true);
      });
    });
});
</script>
<section class="blog-content">
    <div class="container">
        <div class="row">
            <main class="col-md-9 col-md-push-3" style="display: block;">
                <article class="blog-item">
                    <div class="blog-heading">
                        <h1 class="text-capitalize">
                          <%= @book.name %>
                        </h1>
                        <span class="date"><%= @book.created_at.strftime('%m/%d/%Y') %></span>
                        <span>12 comments</span>
                    </div>
                    <p>
                      <%= sanitize @book.description %>
                      <%= sanitize @book.outline %><br/>
                      <%= sanitize @book.author_intro %><br/>
                      <%= sanitize @book.review %>
                    </p>
                </article>
                <h3>筆記</h3>

                <h3>書評</h3>

            </main>

            <!-- begin sidebar -->
            <aside class="col-md-3 col-md-pull-9">
                <div class="item-image">       
                  <img src="<%= @book.pictures.first.image.url(:medium) %>" 
                       class="img-responsive center-block" alt="portfolio1">   
                </div>
                <!-- begin tag-widget -->
                <div class="tag-widget">
                    <h4>分類</h4>
                    <div class="tags">
                        <% @book.tags.each do |tag| %>
                            <a href="<%= books_path + '?tag=' +tag.name %>"><%= tag.name %></a>
                        <% end %>
                    </div>
                    <h4>書櫃</h4>
                    <div class="tags">
                        <% @book.shelves.each do |shelf| %>
                            <%= link_to shelf.name, shelf_path(shelf) %>
                        <% end %>
                        <%= render 'add_book_to_shelf' %>
                    </div>
                    <h4>評價</h4>
                      <div class="br-wrapper br-theme-bars-movie">
                        <select id="score">
                            <option value="0">免讀</option>
                            <option value="1">可讀</option>
                            <option value="2">應讀</option>
                            <option value="3">必讀</option>
                        </select>
                      </div>
                      <br/><br/>
                      <input type="button" id="rate" value="評價這本書">
                    <h4>作者</h4>
                    <%= @book.author %>
                    <h4>ISBN</h4>
                    <%= @book.isbn %>
                    <h4>出版商</h4>
                    <%= @book.publisher %>
                    <% if @book.publish_date  %>
                      <h4>出版日</h4>
                      <%= @book.publish_date.strftime('%m/%d/%Y') %>
                    <% end %>
                    <h4>語言</h4>
                    <%= @book.language %>
                    <h4>頁數</h4>
                    <%= @book.page %>
                </div> <!-- /.tag-widget -->

            </aside>
            <!-- end sidebar -->
        </div>
    </div>

</section>
