<!-- header start -->
<header id="header" class="header-wrapper home-parallax home-fade">
    <div class="header-overlay"></div>
    <div class="header-wrapper-inner">
        <div class="container">
            <div class="welcome-speech">
                <h1>Morebook，讓您每天都讀更多</h1>
                <p>在這裡，分享知識就是這麼簡單</p>
                <a id="start" class="btn btn-white">
                    開始瀏覽
                </a>
            </div><!-- /.intro -->
            
        </div><!-- /.container -->
    </div><!-- /.header-wrapper-inner -->
</header>
<!-- /#header -->

<div class="main-content">
    <!--  begin portfolio section  -->

    <section class="bg-light-gray" id="shelves">
        <div class="container">

            <div class="headline text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2 class="section-title">精選書櫃</h2>
                        <p class="section-sub-title">
                            其他人都在讀什麼
                        </p> <!-- /.section-sub-title -->
                    </div>
                </div>
            </div> <!-- /.headline -->

            <div class="portfolio-item-list">
                <div class="row">
                  <ul class="grid effect-2" id="grid">
                    <% @shelves.each do |shelf| %>
                      <li>
                        <div class="col-md-12 col-sm-12">
                            <div class="portfolio-item">       
                                <div class="item-image">       
                                    <a href="<%= shelf_path(shelf) %>">       
                                        <img src="<%= shelf.cover.url(:medium) %>" class="img-responsive center-block" alt="portfolio1">
                                        <div></div>       
                                    </a>       
                                </div>       

                                <div class="item-description">       
                                    <div class="row">       
                                        <div class="col-xs-6 col-xs-offset-3">       
                                            <span class="item-name">       
                                                <%= shelf.name %>
                                            </span>       
                                            <span>       
                                                <%= shelf.main_tag %>
                                            </span>       
                                        </div>       
                                        <div class="col-xs-6 col-xs-offset-3">       
                                            <span class="like">       
                                                <i class="fa fa-user"></i>       
                                                <%= shelf.users.count %>
                                            </span>       
                                        </div>       
                                    </div>       
                                </div> <!-- end of /.item-description -->       
                            </div> <!-- end of /.portfolio-item -->       
                        </div> 
                      </li>      
                    <% end %>
                  </ul>
                </div>
            </div> <!-- end of portfolio-item-list -->
        </div>

    </section> 
    <!--   end of portfolio section  -->
</div>
<script>
  $(function() {
    $('#start').click(function() {
      var top_offset = $('#shelves').offset().top;
      $('html,body').animate({
              scrollTop: top_offset
          }, 600, 'swing');
    });
  });
</script>