<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login to Everdwell</title>
    <link rel="stylesheet" href="/template_login/css/normalize.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Raleway'>
    <link rel='stylesheet prefetch' href='http://weloveiconfonts.com/api/?family=fontawesome'>
    <link rel="stylesheet" href="/template_login/css/style.css">
  </head>
  <body>
    <% if request.fullpath.include?('users') %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => 'login-form'}) do |f| %>
        <div class="heading">登入Morebook</div>
        <div class="left"></div>
        <div class="right">
          <div class="connect">請選擇一個帳號</div>
          <a href="" class="facebook">
            <span class="fontawesome-facebook">facebook</span>
          </a> <br />
          <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>" class="google-plus">
            <span class="fontawesome-google-plus">Google</span>
          </a> <br />
        </div>
      <% end %>
    <% else %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => 'login-form'}) do |f| %>
        <div class="heading">管理者登入</div>
        <div class="left">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    <% end %>
    <script src="/template_login/js/index.js"></script>
  </body>
</html>
