<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= @shelf.name %></h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= form_for(@shelf, {:url => dashboard_shelf_path, :method => 'patch'}) do |f| %>
      <div class='form-group'>
        封面<%= f.file_field :cover, :class => 'form-control' %>
        名稱<%= f.text_field :name, :class => 'form-control' %>
        簡介<%= f.text_area :description, :class => 'form-control' %>

        成員<br/>
        <% @shelf.users.all.each do |user| %>
          <%= link_to user.name, profile_static_path(user.id) %><br/>
        <% end %>
        書本<br/>
        <% @shelf.books.all.each do |book| %>
          <%= link_to book.name, edit_dashboard_book_path(book) %><br/>
        <% end %>
      </div>
      <%= f.submit :class => 'btn btn-primary', :value => '送出' %>
    <% end %>
  </div>
</div>